/*Style*/

body{
	padding-bottom: 100px; 
}
.banner{
	background-image: radial-gradient( circle 968px at 1.9% 48.8%, rgba(18,16,215,1) 0%, rgba(137,24,182,1) 51.5%, rgba(230,25,51,1) 100.2% );
	padding-bottom: 8%;
	padding-top: 13%;
}
.laris .card:hover{
	/*box-shadow: 1px 1px 1px 1px grey;*/
	-webkit-box-shadow: -1px 1px 14px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 1px 14px 0px rgba(0,0,0,0.75);
	box-shadow: -1px 1px 14px 0px rgba(0,0,0,0.75);
	transition: .6s;
}


@media screen and (min-width: 400px) and (max-width: 768px){
	.banner{
		padding-bottom: 20%;
		padding-top: 33%;
	/*.laris{
		display: flex;
	}
	.laris .laris1{
		flex-grow: 1;
	}
*/}

@media screen and (max-width: 767px){
	.baru{
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.baru .anyar{
		width: 50%;
	}
	.unggul{
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		text-align: center;
	}
	.unggul .satu{
		width: 50%;
	}
	.unggul .dua{
		width: 50%;
	}
	.unggul .tiga{
		width: 50%;
	}
	.unggul .empat{
		width: 50%;
	}
	.sale .satu{
		width: 50%;
	}
	.sale .dua{
		width: 50%;
	}
	.sale .tiga{
		width: 50%;
	}
	.sale .empat{
		width: 50%;
	}

	.laris{
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.laris .satu{
		width: 50%;
	}
	.laris .dua{
		width: 50%;
	}
	.laris .tiga{
		width: 50%;
	}
	.laris .empat{
		width: 50%;
	}
	.laris .lima{
		width: 50%;
	}
	.laris .enam{
		width: 50%;
	}
}