/*Style*/

body{
	padding-bottom: 100px; 
}
.banner{
	background-image: radial-gradient( circle 968px at 1.9% 48.8%, rgba(18,16,215,1) 0%, rgba(137,24,182,1) 51.5%, rgba(230,25,51,1) 100.2% );
	padding-bottom: 8%;
	padding-top: 13%;
}
.laris .card:hover{
	box-shadow: 1px 1px 1px 1px grey;
	transition: .5s;
}


@media(min-width: 400px) and (max-width: 768px){
	.banner{
		padding-bottom: 20%;
		padding-top: 20%;
	}
	/*.laris{
		display: flex;
	}
	.laris .laris1{
		flex-grow: 1;
	}
*/}